ngb-datepicker {
    width: 25rem;
}
.ngb-dp-week.ngb-dp-weekdays, .ngb-dp-week{
    width: 25rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.ngb-dp-navigation-select {
    flex-direction: row-reverse;
}

ngb-datepicker-navigation {
    flex-direction: row-reverse;
}

.ngb-dp-arrow {
    flex-direction: row-reverse;
}
.ngb-dp-navigation-chevron {
    /*transform: rotate(-135deg);*/
    transform: rotate(45deg) !important;
}

.ngb-dp-arrow.right .ngb-dp-navigation-chevron {
    transform: rotate(-135deg) !important;
}

.ngb-dp-arrow-btn:after{
    attr("title"): "الشهر السابق";
}
